html{
    background-color: #f2f2f2;
}
.app{
    color: black;
    background-color: #f2f2f2;
}
.app-container{
    padding: 1rem;
}
h1{
    font-size: 3rem;
    text-align: center;
}
.title{
    text-align: center;
    font-size: 3rem;
    padding: 1rem;
    margin: 1rem;
}
.section{
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
}
.item{
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
}